<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IMessageService" value="MSSE680_WilliamsLogMgmtPortal.Services.MessageSvcImpl" />
    <add key="IOrganizationService" value="MSSE680_WilliamsLogMgmtPortal.Services.OrganizationSvcImpl" />
    <add key="IUserService" value="MSSE680_WilliamsLogMgmtPortal.Services.UserSvcImpl" />
    <add key="IMessageRepository" value="Message"/>
    <add key="IOrganizationRepository" value="Organization"/>
    <add key="IUserRepository" value="User"/>
  </appSettings>
</configuration>